@model IEnumerable<string>
@{
    ViewData["Title"] = "Home Page";
}


<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Breeds</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var breed in Model)
        {
            <tr>
                <td>@breed</td>
                <td><a asp-action="Details" asp-route-id="@breed">View Image</a></td>
            </tr>

        }
    </tbody>

</table> 
